img{
  height: 624px;
  width: 1348px;
  position: relative;

}
h1{
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  position: absolute;
  margin-top: -500px;
  color: white;
  margin-left: 40px;
}
h2{
  color: white;
  margin-top: -420px;
  position: absolute;
  margin-left: 50px;

}